<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../../static/styles/main.css" rel="stylesheet">
    <link href="../../static/styles/page/active20170612/index.css" rel="stylesheet">
</head>
<body>
<div>edward123123</div>
<script src="../../static/scripts/active20170612/index.js"></script>
</body>
</html>