@import '../../../helpers/mixins';

#publicManage {
  background: #fff;
  padding: 20px;
  margin-left: 200px;
  outline: none;

  .searchWrap{
    margin-bottom: 20px;
    font-size: 0;
    p{
      display: inline-block;
      font-size: 14px;
      margin-right:12px;
      position: relative;
      label{margin-right:10px;font-weight:normal;color:#333;}
      input{width:170px;height:40px;border:1px solid #ccc;line-height: 40px;padding-left: 10px;border-radius:2px;}
      input:focus{border:1px solid #00b7ec}
      input.submitBtn{background: #00b7ec;color:#fff;line-height: 35px;}
      i{position: absolute;right: 10px;top:13px;background:url("/images/partials/publicRelease/datepickIcon.png");width:11px;height:13px;}

    }
    p.mr0{margin-right:0;}
    p > *{vertical-align: middle;}
  }
  .projectLine{display: table;width:100%;vertical-align: middle;text-align: center;padding:10px 0;background: #fff;}
  .greyBg{background: #f5f5f5;color:#666;font-size: 12px;}
  .projectLine >div{display: table-cell;}
  .w230{
    width:230px;
    .para{
      width:230px;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      margin: 0 auto;
    }
  }
  .w150{width:150px}
  .w94{width:94px}
  .w110{width:110px}
  .w80{width:80px}
  .w96{width:96px}
  .whiteBg{padding:24px 0;border-bottom: 1px dashed #ccc;font-size: 14px;}
  .whiteBg a{color:#11718f}
  .whiteBg a:hover{opacity: .8;}
  .whiteBg b.waitRelease{color:#3ec587}
  .whiteBg b.alreadyRelease{color:#000}
  .whiteBg b.completeRelease{color:#ff0000}
  .whiteBg:hover{background: #effafd}
}