@import '../../../helpers/mixins';

#publicRelease{
  background: #fff;
  padding:20px;
  margin-left: 200px;
  outline: none;

  .publicReleaseWrap table.publicFormWrap{border:1px solid #e4e4e4;border-collapse: collapse;width:100%;text-align: left;color:#999;table-layout: fixed}
  .publicReleaseWrap table.publicFormWrap td{border:1px solid #e4e4e4;border-collapse: collapse;padding-left: 10px;}
  .publicReleaseWrap table.publicFormWrap td select{display: none;width:325px;}
  .publicReleaseWrap table.publicFormWrap td.greyBg{background: #f5f5f5;width:115px;text-align: center;line-height: 40px;padding-left:0;font-size: 12px;color:#666;}
  .publicReleaseWrap table.publicFormWrap td.greyBg b{color:#ff0000;}
  .publicReleaseWrap table.publicFormWrap td label{margin:0;padding-left: 15px;font-size: 12px;display: inline;}
  .publicReleaseWrap table.publicFormWrap td label.lw180{width:180px;}
  .publicReleaseWrap table.publicFormWrap td input{width:300px;border:none;outline:none;color:#333;}
  .publicReleaseWrap table.publicFormWrap td.bidLabel label{overflow: hidden;display: inline-block}
  .publicReleaseWrap table.publicFormWrap td.bidLabel label input{position: relative;top: -50px;width:0;height:0}
  .publicReleaseWrap table.publicFormWrap td.bidLabel label.bidUnSelect{background:url("/images/partials/publicRelease/unselectedIcon.png") no-repeat left center;cursor: pointer;}
  .publicReleaseWrap table.publicFormWrap td.bidLabel label.bidSelect{background:url("/images/partials/publicRelease/selectedIcon.png") no-repeat left center;cursor: pointer;}
  .publicReleaseWrap table.publicFormWrap td.timeWrap input {width:116px;text-align: center;padding-left: 15px;}
  .publicReleaseWrap table.publicFormWrap td p{display: inline-block;position: relative;vertical-align: middle;}
  .publicReleaseWrap table.publicFormWrap td p.pd30{padding:0 30px;}
  .publicReleaseWrap table.publicFormWrap td p i{position: absolute;left:0;top:2px;background:url("/images/partials/publicRelease/datepickIcon.png");width:11px;height:13px;}
  .publicReleaseWrap .whiteBg{width:345px;font-size: 14px;}
  .publicReleaseWrap table.publicFormWrap .pl0{padding-left:0px;}
  .publicReleaseWrap .editWrap{min-height:485px;}
//  错误信息
  .publicReleaseWrap .errorMsg{color:#ff0000;font-size: 14px;padding-top: 10px;height:20px;}

  .publicReleaseWrap .btnWrap{text-align: center;margin:50px 0;}
  .publicReleaseWrap .btnWrap a{width: 180px;height:40px;margin-left:10px;font-weight:bold;font-size:14px;line-height: 40px;border-radius: 2px;display: inline-block;background: #f3fcff;border:1px solid #00b6ef;color:#00b6ef;vertical-align: middle;}
  .publicReleaseWrap .btnWrap a:hover{background: #00b6ef;color:#fff;}
  .publicReleaseWrap .btnWrap a.returnBtn{background: #c7c7c7;color:#fff;border:none;}
  .publicReleaseWrap .btnWrap a.returnBtn:hover{opacity: .8;border:none;}


  a:focus{text-decoration: none;}
//  编辑器样式
  .edui-default .edui-editor{border:none!important;}
  #edui1_elementpath{border:none;}
  #edui1_wordcount{border:none;}
}

//  初始化select2
span:focus{outline: none;}
.select2-container--default .select2-selection--single{border: none;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{border:none;background: url("/images/partials/publicRelease/arrowDown.png") no-repeat;width:9px;height:9px;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{background: url("/images/partials/publicRelease/arrowUp.png") no-repeat;}
.select2-dropdown{border:1px solid #32c3ee}
.select2-container .select2-selection--single .select2-selection__rendered{padding-left: 0px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{color:#333;}