@import '../../../helpers/_mixins.scss';

.company-home {
  .company-info {
    overflow: hidden;
    margin-top: 10px;
    .info-left-width {
      width: 748px;
      height: 120px;
      border: 1px solid $gray1;
      background: $white;
    }
    .info-right-width {
      position: relative;
      width: 440px;
      height: 120px;
      border: 1px solid $gray1;
      background: $white;
    }
    .position-relative {
      position: relative;
      width: 120px;
      height: 120px;
      overflow: hidden;
      margin-right: 20px;
      &:hover {
        .img-mask {
          opacity: 0.7;
          filter:alpha(opacity=70);
          transform: scale(1.2);
        }
      }
    }
    .img-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 120px;
      height: 120px;
      overflow: hidden;
      padding-top: 40px;
      background: #09060e;
      color: $white;
      @include fontSize(14px);
      text-align: center;
      line-height: 26px;
      transition: all 0.5s ease-in;
      opacity: 0;
      filter:alpha(opacity=0);
    }
    .company-detail-info {
      min-width:450px;
      color: $gray3;
      dt {
        margin: 30px 0 14px 0;
        background: url('/images/partials/company/companyCertif.png') no-repeat 300px center;
        a {
          color: $blue3;
          @include fontSize(18px);
          &:hover {
            text-decoration: underline;
          }
        }
        color: $blue3;
        @include fontSize(18px);
      }
      dd {
        li {
          display: inline-block;
          padding: 6px 0;
          strong {
            color: $gray4;
            font-size: 14px;
            &.text-warning {
              color: #fc6e35;
              font-weight: normal;
            }
            &.min-width {
              display: inline-block;
              max-width: 200px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              vertical-align: bottom;
            }
          }
          &.border-right {
            margin-right: 20px;
            padding-right: 20px;
            background: url('/images/common/borderLine.png') no-repeat right 8px;
          }
        }
      }
    }
    .info-list {
      padding:25px 0;
      line-height:22px;
      li {
        width: 280px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      a {
        color: $gray4;
        line-height: 28px;
        @include fontSize(14px);
        &:hover {
          color: $blue1;
          text-decoration: underline;
        }
      }
    }
    .more-list {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $blue1;
      font-family:'Arial';
    }
  }
  .form-inline{
    input.form-control{
      margin:0;
    }
    .relative{
      position:relative;
    }
  }
  .inline-block{
    position:relative;
    display:inline-block;
  }
  .padding-top-8{
    padding:10px 4px 0;
  }
  .btn-search{
    margin-left:20px;
  }
  .picker{
    top:44px;
    left:1px;
  }
  .nav-customer {
    .no-padding-top-bottom {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .table-customer {
    width: 100%;
    overflow: hidden;
    margin-bottom: -1px;
    font-size: 14px;
    @include fontSize(14px);
    line-height: 28px;
    text-align: center;
    tr:hover {
      background: #effafd;
    }
    td{
      padding: 30px 0;
      border-bottom: 1px dashed $gray1;
      &.word-break{
        word-break:break-all;
        word-wrap:break-word;
      }
    }
    strong {
      color: $gray3;
      font-weight: normal;
    }
    .btn-process {
      padding: 4px 16px;
      border-radius: 2px;
      border: 1px solid $orange1;
      color: $orange1;
      &:hover {
        background: $orange1;
        color: $white;
      }
    }
    .btn-failed {
      padding: 4px 16px;
      border-radius: 2px;
      border: 1px solid #c7c7c7;
      background: #c7c7c7;
      color: $white;
      &:hover {
        background: #c7c7c7;
        color: $white;
        cursor: default;
      }
    }
    a.active {
      color: $blue1;
    }
  }
  .pagination-wrap{
    width:auto;
  }
}