@charset "UTF-8";
/****** 混合通用的样式 Edited By Edward(2016-08-1) ******/
.gray { color: #e4e4e4; }

.dark { color: #000; }

.white { color: #fff; }

.display-none { display: none; }

.panel-customer { padding-bottom: 0; }

.panel-customer h2.company-name { padding: 50px 0 30px 0; color: #333333; font-size: 24px; }

.panel-customer h2.company-name span { display: inline-block; padding-right: 120px; background: url("/images/partials/companyHome/companyCertif.png") no-repeat right center; }

.panel-customer .intro-content { width: 900px; margin: 0 auto; line-height: 30px; color: #333333; font-size: 14px; }

.panel-customer .intro-content .intro-title a { color: #00b7ec; }

.panel-customer .intro-content .toggle-btn { display: none; color: #00b7ec; cursor: pointer; }

.panel-customer .intro-content .intro-hide p { opacity: 0; }

.panel-customer .intro-content .intro-detail { overflow: hidden; padding-top: 50px; }

.panel-customer .intro-content .intro-detail li { float: left; width: 50%; color: #999999; font-size: 14px; color: #999999; }

.panel-customer .intro-content .intro-detail li strong { padding-right: 20px; color: #333333; font-weight: normal; }

.panel-customer .intro-content .intro-detail li strong.zhengshu { background: url("/images/partials/companyIntroduce/zhengshu.png") no-repeat right center; }

.panel-customer .intro-content .btn-blue { padding: 10px 48px; color: #fff; }

.panel-customer .intro-content .btn-link { padding: 40px 0 40px 0; }

.panel-customer .table > thead > tr > th, .panel-customer .table > thead > tr > td, .panel-customer .table > tbody > tr > th, .panel-customer .table > tbody > tr > td, .panel-customer .table > tfoot > tr > th, .panel-customer .table > tfoot > tr > td { vertical-align: middle; }

.panel-customer .table th { font-weight: normal; font-size: 14px; }

.panel-customer .table td { font-size: 16px; color: #333333; font-weight: normal; }

.panel-customer .table td.td-bg { background: #f9f9f9; font-size: 14px; }
