@import '../../../helpers/mixins';

.supply-main{
  .panel-customer {
    h2 {
      padding-top: 60px;
      color: $gray4;
      @include fontSize(24px);
    }
    h4 {
      padding: 14px 0 52px 0;
      color: #666;
      @include fontSize(14px);
    }
    .content {
      width: 700px;
      margin: 0 auto;
      line-height: 30px;
      @include fontSize(14px);
      .padding-top {
        padding: 28px 0;
      }
    }
  }
  .banner {
    background: $white;
  }
  .table-customer {
    width: 100%;
    table-layout:fixed;
    border-top: 1px solid #00b7ec;
    @include fontSize(14px);
    line-height: 24px;
    tr:hover {
      td {
        background: #effafd;
      }
    }
    th {
      background: #f5f5f5;
      text-align: center;
    }
    td {
      height: 88px;
      border-bottom: 1px dotted $gray3;
      word-break: break-all;
      word-wrap: break-word;
      cursor:pointer;
      &:hover{
        color:$blue1;
      }
    }
  }
  .pagination-wrap{
    width:auto;
  }
}