@charset "UTF-8";
/****** 混合通用的样式 Edited By Edward(2016-08-1) ******/
.gray { color: #e4e4e4; }

.dark { color: #000; }

.white { color: #fff; }

.display-none { display: none; }

.supply-main .panel-customer h2 { padding-top: 60px; color: #333333; font-size: 24px; }

.supply-main .panel-customer h4 { padding: 14px 0 52px 0; color: #666; font-size: 14px; }

.supply-main .panel-customer .content { width: 700px; margin: 0 auto; line-height: 30px; font-size: 14px; }

.supply-main .panel-customer .content .padding-top { padding: 28px 0; }

.supply-main .banner { background: #fff; }

.supply-main .table-customer { width: 100%; table-layout: fixed; border-top: 1px solid #00b7ec; font-size: 14px; line-height: 24px; }

.supply-main .table-customer tr:hover td { background: #effafd; }

.supply-main .table-customer th { background: #f5f5f5; text-align: center; }

.supply-main .table-customer td { height: 88px; border-bottom: 1px dotted #999999; word-break: break-all; word-wrap: break-word; cursor: pointer; }

.supply-main .table-customer td:hover { color: #00b7ec; }

.supply-main .pagination-wrap { width: auto; }
