@charset "UTF-8";
/****** 混合通用的样式 Edited By Edward(2016-08-1) ******/
.gray { color: #e4e4e4; }

.dark { color: #000; }

.white { color: #fff; }

.display-none { display: none; }

.announce .padding-top-30 { padding-top: 30px; }

.announce .supply-info { height: 120px; border: 1px solid #00b7ec; background: #eff9ff; overflow: hidden; }

.announce .supply-info .position-relative { position: relative; width: 120px; height: 120px; overflow: hidden; }

.announce .supply-info .position-relative:hover .img-mask { opacity: 0.7; filter: alpha(opacity=70); -webkit-transform: scale(1.2); transform: scale(1.2); }

.announce .supply-info .img-mask { position: absolute; top: 0; left: 0; width: 120px; height: 120px; overflow: hidden; padding-top: 40px; background: #09060e; color: #fff; font-size: 14px; line-height: 26px; text-align: center; transition: all 0.5s ease-in; opacity: 0; filter: alpha(opacity=0); }

.announce .supply-detail { width: 1000px; padding: 26px 0 20px 30px; color: #999999; }

.announce .supply-detail dl { overflow: hidden; }

.announce .supply-detail dt strong { font-size: 18px; }

.announce .supply-detail ul { margin-left: -40px; }

.announce .supply-detail li { display: inline-block; max-width: 168px; margin-left: 20px; padding-left: 20px; background: url("/images/common/borderLine.png") no-repeat left center; line-height: 50px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.announce .supply-detail li.no-border-right { background: none; }

.announce .supply-detail strong { color: #333333; font-size: 14px; font-weight: normal; }

.announce .announce-process { padding: 25px 0 30px 0; }

.announce .announce-btn-list { width: 382px; overflow: hidden; margin: 0 auto; padding-bottom: 30px; }

.announce .announce-btn-list .btn-detail { width: 160px; height: 40px; margin-right: 20px; border-radius: 2px; border: 1px solid #e4e4e4; color: #00b7ec; line-height: 24px; background: url("/images/partials/tenderDetail/btnBg.png") no-repeat left center; }

.announce .announce-btn-list .btn-detail:focus { color: #333333; }

.announce .announce-btn-list .btn-detail img { position: relative; top: -1px; padding-right: 10px; vertical-align: middle; }

.announce .announce-btn-list .btn-price { height: 40px; line-height: 26px; }

.announce .announce-btn-list .btn-price.disabled { background: #999999; }

.announce .announce-btn-list .deadline { padding-top: 10px; color: #333333; font-size: 14px; text-align: center; }

.announce .table-title { overflow: hidden; padding: 20px 0 10px 0; }

.announce .table-title dt { padding-right: 20px; }

.announce .table-title dt, .announce .table-title dd { float: left; color: #999999; font-size: 14px; }

.announce .table-title dt strong, .announce .table-title dd strong { color: #333333; font-weight: normal; }

.announce .table-title dd { margin-right: 30px; padding-right: 30px; background: url("/images/common/borderLine.png") no-repeat right 3px; }

.announce .table-title dd.no-bg { margin-right: 0; padding-right: 0; background: none; }

.announce .table-title dd strong { display: inline-block; max-width: 290px; vertical-align: top; }

.announce .addQuote { overflow: hidden; }

.announce .panel-customer { padding-left: 18px; padding-right: 18px; }

.announce .panel-customer .tableWrap { max-width: 1164px; margin: 10px 0; }

.announce .panel-customer .tableWrap li { width: 166px; }

.announce .margin-top-0 { margin-top: 0; }

.announce .padding-top-0 { padding-top: 0; }

.announce .padding-0 { padding: 0; }

.announce .rules-list { font-size: 14px; line-height: 30px; }

.announce .rules-list li { list-style-type: disc; }

.announce .rules-list li strong { font-size: 18px; }

.announce .fix-bottom { position: fixed; bottom: 0; left: 0; z-index: 100; display: none; width: 100%; height: 100px; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #666666; background: #fff; }

.announce .fix-bottom .fix-bottom-content { position: relative; width: 1200px; margin: 0 auto; }

.announce .fix-bottom .fix-bottom-content .border-right-line { width: 80px; height: 100px; padding-top: 32px; background: url("/images/common/borderLine.png") no-repeat right center; color: #03b8ec; font-size: 14px; text-align: center; }

.announce .fix-bottom .fix-bottom-content .border-right-line p { padding-top: 10px; }

.announce .fix-bottom .fix-bottom-content .btn-price { width: 184px; }

.announce .fix-bottom .fix-bottom-content .supply-detail { width: 900px; padding: 26px 0 10px 20px; font-size: 14px; }

.announce .fix-bottom .fix-bottom-content .supply-detail ul { margin-left: -16px; white-space: nowrap; }

.announce .fix-bottom .fix-bottom-content .supply-detail li { max-width: 168px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-left: 4px; padding-left: 12px; }

.announce .fix-bottom .fix-bottom-content .btn-price { height: 100px; color: #fff; font-size: 24px; text-align: center; cursor: pointer; }

.announce .fix-bottom .fix-bottom-content .btn-price span { color: #000; font-size: 14px; }

.announce .fix-bottom .fix-bottom-content .btn-price a { display: block; height: 100px; padding-top: 28px; background: #fc6e35; color: #fff; }

.announce .fix-bottom .fix-bottom-content .btn-price a.disabled { background: #999; cursor: pointer; }

.announce .fix-bottom .fix-bottom-content .btn-price a p { margin-bottom: 10px; }

.announce .fix-bottom .fix-bottom-content .btn-price a p.more-padding { padding-top: 16px; }

.announce .fix-bottom .fix-bottom-content .btn-close { position: absolute; top: -60px; right: 0; cursor: pointer; }

.announce .no-data .rules-list { list-style-type: none; }

.announce .no-data .rules-list li { list-style-type: none; }
