<section>
    <img src="../../static/images/20170717hd/bg.jpg" />
</section>
<section class="intro-section">
    <img src="../../static/images/20170717hd/invite.png"/>
</section>
<section class="intro-list">
    <img src="../../static/images/20170717hd/invite-list.png"/>
</section>
<section class="week-star">
    <p class="deadline-wrapper">8月7日中午12点揭晓第一周人气之星</p>
</section>
<section class="flow">
    <img src="../../static/images/20170717hd/flow.jpg" />
</section>
<section class="rules active">
    <h3>活动规则</h3>
    <ol>
        <li>活动时间：8月1日00:00-8月31日24:00，所有到店和注册时间需要在8月1日00:00-8月31日24:00，才算有效，早于或迟于均不在范围之内；</li>
        <li>活动对象：车享家注册用户均可参与，活动期间注册成功后也可参与活动；</li>
        <li>月度挑战赛将会进行三次放榜，分别为速榜，中榜和终榜，放榜时间分别为8月7日，8月18日和9月1日，请持续关注榜单情况；</li>
        <li>奖励发放：到店人气之星和注册人气之星于9月1日公布，每周人气之星于每周一公布上周人气之星，所有人气之星的奖励将于活动结束后15个工作日发放；</li>
        <li>小保养为4L装赛倍飒半合成小保养套餐，含机滤和工时，iPhone6s配置以收到实物为准，20次洗车卡为1年有效期；</li>
        <li>本次活动与苹果公司无关；</li>
        <li>本次活动，车享家拥有在法律规定范围内的解释权。</li>
    </ol>
</section>
<div v-if="!basicInfo.showDownloadFlag" class="invite-btn">
    <a :href="inviteUrl">立即去邀请</a>
</div>