<section class="banner">
    <img src="../../static/images/20170719hd/hdbanner.png" alt="">
</section>
<section class="mainup main">
    <img src="../../static/images/20170719hd/main_02.jpg" alt="">
</section>
<section class="main">
    <img src="../../static/images/20170719hd/main_03.png" alt="">
    <a class="up-link" href="https://cxjapp.chexiang.com/cx/cxj/cxjweb/newdiscover/detail/detail.shtml?id=805115&artcolumn=art_010">中石油站点查看 ></a>
    <a class="low-link" href="https://cxjapp.chexiang.com/cx/cxj/cxjweb/newdiscover/detail/detail.shtml?id=805123&artcolumn=art_010">车享家活动门店查看 ></a>
</section>

<section class="rules active">
    <img src="../../static/images/20170719hd/hdrule.png" alt="">
</section>
