.nav-customer{
  border:1px solid $gray1;
  .nav-header{
    background:#f6f6f6;
    ul{
      height:40px;
      border-bottom:1px solid $gray1;
      li{
        position:relative;
        float:left;
        width:120px;
        height:40px;
        border-right:1px solid $gray1;
        color:$dark;
        text-align:center;
        line-height:40px;
        cursor:pointer;
        &.active{
          bottom:-1px;
          border-bottom:1px solid $white;
          background:$white;
          color:$blue1;
        }
      }
    }
  }
  .nav-content{
    padding:20px;
  }
}