.panel-customer{
  margin-top:10px;
  padding:20px;
  padding-top:0;
  background:$white;
  &.margin-top-0{
    margin-top:0;
  }
  &.padding-top-0{
    padding-top:0;
  }
  &.padding-bottom-0{
    padding-bottom:0;
  }
  .panel-heading{
    overflow:hidden;
    padding:15px 0;
    border-bottom:1px solid $gray1;
    line-height:20px;
    &.border-bottom-0{
      border-bottom:0;
    }
    &.bg-gray{
      padding-left:14px;
      padding-right:20px;
      border-bottom:0;
      background:#fafafa;
    }
    h2{
      padding-left:10px;
      border-left:4px solid $blue1;
      @include fontSize(18px);
      span{
        padding-left:10px;
        @include fontSize(12px);
        color:$gray3;
        font-weight:normal;
      }
    }
    .pull-right{
      color:$gray3;
      @include fontSize(14px);
      strong{
        color:$gray4;
      }
      i{
        padding:10px;
        font-style:normal;
      }
    }
  }
  .panel-body{
    &.padding-left-right-0{
      padding-left:0;
      padding-right:0;
    }
  }
  .padding-0{
    padding:0;
  }
}
