.search-condition{
  padding:20px 0;
  @include fontSize(14px);
  .padding-top-8{
    padding-top:8px;
  }
  .btn-search{
    padding:7px 32px 8px 32px;
    background:#00b7ec url('/images/common/search.png') no-repeat 16px 4px;
    color:$white;
  }
  .picker{
    left:15px;
    top:38px;
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background:#fff;
  }
}