@charset "UTF-8";
/****** 混合通用的样式 Edited By Edward(2016-08-1) ******/
.gray { color: #e4e4e4; }

.dark { color: #000; }

.white { color: #fff; }

.display-none { display: none; }

body.no-scroll { overflow-y: hidden; }

.release-tender .uploadify-queue { display: none; }

.release-tender .release-tender-content { padding-top: 20px; background: #fff; }

.release-tender .panel-customer { margin-top: 0; padding-top: 0; }

.release-tender .panel-customer .bg-gray .pull-right { display: none; }

.release-tender .icon-operate { display: inline-block; width: 60px; height: 24px; padding-left: 28px; font-size: 14px; cursor: pointer; }

.release-tender .icon-operate.edit { background: url("/images/partials/releaseTender/operateIcon.png") no-repeat left top; }

.release-tender .icon-operate.edit:hover, .release-tender .icon-operate.edit.active { background: url("/images/partials/releaseTender/operateIcon.png") no-repeat -60px top; color: #00b7ec; }

.release-tender .icon-operate.delete { background: url("/images/partials/releaseTender/operateIcon.png") no-repeat left -80px; }

.release-tender .icon-operate.delete:hover, .release-tender .icon-operate.delete.active { background: url("/images/partials/releaseTender/operateIcon.png") no-repeat -60px -80px; color: #00b7ec; }

.release-tender .panel-body { padding: 20px 15px; padding-bottom: 0; }

.release-tender .panel-body.overflow-hidden { overflow: hidden; }

.release-tender .panel-body.form-position-fixed-wrap { position: relative; }

.release-tender .radio-inline input { margin-top: 1px; }

.release-tender .add-btn { display: inline-block; width: 180px; height: 40px; margin-top: 10px; border: 1px dashed #e4e4e4; background: url("/images/partials/releaseTender/addBtn.png") no-repeat 26px 8px; line-height: 38px; font-size: 14px; text-align: center; text-indent: 30px; cursor: pointer; }

.release-tender .add-btn:hover { border: 1px dashed #00b7ec; background: url("/images/partials/releaseTender/addBtn.png") no-repeat 26px -32px; }

.release-tender .line { margin: 0 20px; margin-top: 10px; padding: 30px 0; border-top: 1px solid #e4e4e4; }

.release-tender .line .link-default { font-size: 14px; margin-left: 10px; color: #999999; }

.release-tender .line .link-default:hover { color: #00b7ec; }

.release-tender .form-border { display: none; padding: 30px; border: 1px solid #00b7ec; font-size: 14px; }

.release-tender .form-border.form-position-fixed { position: fixed; top: 10%; left: 10%; z-index: 101; width: 80%; height: 80%; overflow-y: auto; background: #fff; }

.release-tender .form-border.form-position-fixed .close-btn { margin-top: -14px; color: #c7c7c7; font-size: 30px; cursor: pointer; }

.release-tender .form-border .form-group { padding-left: 0; }

.release-tender .form-border .form-group.overflow-hidden { overflow: hidden; }

.release-tender .form-border .form-group.btn-group-customer { margin-top: 30px; margin-bottom: 0; text-align: center; }

.release-tender .form-border .form-group.btn-group-customer a { margin-right: 10px; }

.release-tender .form-border .form-group.btn-group-customer .link-default { color: #999999; }

.release-tender .form-border .form-group.btn-group-customer .link-default:hover { color: #00b7ec; }

.release-tender .form-border .form-group .padding-top-8 { display: inline-block; padding-top: 8px; text-indent: 4px; color: #999999; }

.release-tender .form-border .form-group .width-110 { display: inline-block; width: 130px; }

.release-tender .form-border .form-group .width-120 { display: inline-block; width: 120px; }

.release-tender .form-border .form-group .control-label { color: #999999; }

.release-tender .form-border .form-group textarea { color: #555555; }

.release-tender .form-border .form-group .col-sm-1, .release-tender .form-border .form-group .col-sm-2, .release-tender .form-border .form-group .col-sm-3, .release-tender .form-border .form-group .col-sm-4, .release-tender .form-border .form-group .col-sm-5, .release-tender .form-border .form-group .col-sm-10 { padding-left: 0; padding-right: 0; }

.release-tender .form-border .form-group .col-sm-4 span { color: #999999; }

.release-tender .form-border .form-group select { color: #999999; }

.release-tender .content-txt, .release-tender .content-txt-template { display: none; margin-bottom: 10px; padding: 20px 10px 20px 10px; border-bottom: 1px dashed #e4e4e4; color: #999999; }

.release-tender .content-txt .form-group, .release-tender .content-txt-template .form-group { overflow: hidden; }

.release-tender .content-txt strong, .release-tender .content-txt-template strong { color: #333333; font-size: 16px; font-weight: normal; }

.release-tender .content-txt .line-height-24, .release-tender .content-txt-template .line-height-24 { line-height: 22px; }

.release-tender .content-txt-template { display: none; }

.release-tender .time-picker-icon { background: url("/images/common/datepickIcon.png") no-repeat 10px 9px; }

.release-tender textarea { resize: vertical; }

.release-tender .radio-inline { color: #999999; }

.release-tender #tenderProject .col-sm-1 .form-control, .release-tender #tenderProject .col-sm-2 .form-control, .release-tender #tenderProject .col-sm-3 .form-control, .release-tender #tenderProject .col-sm-4 .form-control, .release-tender #tenderProject .col-sm-5 .form-control, .release-tender #tenderProject .col-sm-10 .form-control { font-size: 12px; letter-spacing: -1px; }

.release-tender #tenderCommerce .picker { top: 38px; }

.release-tender #tenderCommerce strong { width: 800px; word-break: break-all; }

.release-tender #tenderCommerce strong.comments { margin-top: -3px; }

.release-tender #tenderCommerce .content-txt { border-bottom: 0; }

.release-tender .padding-top-4 { padding-top: 4px; }

.release-tender .upload-wrapper .file-txt { position: absolute; top: 5px; left: 0px; width: 100px; height: 28px; overflow: hidden; opacity: 0; cursor: pointer; }

.release-tender .upload-wrapper ul { margin-top: 10px; }

.release-tender .upload-wrapper ul li { display: inline-block; height: 28px; margin-right: 10px; margin-bottom: 10px; padding-left: 30px; padding-right: 10px; border: 1px solid #f5f5f5; background: #f5f5f5 url("/images/common/spriteIco.png") no-repeat -540px -222px; line-height: 26px; cursor: pointer; }

.release-tender .upload-wrapper ul li:hover { border: 1px solid #45b8ed; }

.release-tender .upload-wrapper ul li:hover span { background: url("/images/common/spriteIco.png") no-repeat -260px -174px; }

.release-tender .upload-wrapper ul li span { display: inline-block; width: 14px; height: 14px; margin-left: 10px; background: url("/images/common/spriteIco.png") no-repeat -220px -174px; cursor: pointer; }

.release-tender .upload-btn { display: inline-block; width: 100px; height: 28px; margin: 4px 0 10px 0; padding-left: 32px; border: 1px solid #e4e4e4; border-radius: 2px; background: url("/images/common/spriteIco.png") no-repeat -540px -301px; line-height: 28px; font-size: 12px; cursor: pointer; }

.release-tender .upload-btn.eidt { background: url("/images/partials/releaseTender/tender-upload.png") no-repeat 10px center; }

.release-tender .display-hide { display: none; }

.release-tender .margin-top-10 { margin-top: 10px; }

.release-tender .upload-progress { position: relative; display: none; width: 100px; height: 30px; margin: 10px 0 10px 0; border: 1px solid #e4e4e4; text-align: center; line-height: 30px; }

.release-tender .upload-progress .progress { position: absolute; top: 0; left: 0; width: 1%; height: 3px; background: #00b7ec; }

.release-tender .display-none { display: none; padding-top: 8px; }

.release-tender .uploadData { overflow: hidden; }

.release-tender .uploadData li { display: inline-block; height: 28px; margin-right: 10px; margin-bottom: 10px; padding-left: 30px; padding-right: 10px; border: 1px solid #f5f5f5; border-radius: 4px; background: #f5f5f5 url("/images/common/spriteIco.png") no-repeat -540px -222px; line-height: 26px; }

.release-tender .btn.disabled { background: #999999; cursor: default; }

.release-tender .btn.disabled:hover, .release-tender .btn.disabled:active, .release-tender .btn.disabled:focus { background: #999999; box-shadow: none; outline: none; }

.release-tender .btn-info { padding: 8px 55px; border-radius: 0; border: 0; }

.release-tender .font-size-12 { margin-top: 10px; font-size: 12px; }

.release-tender input[disabled] { background-color: #f8f8f8 !important; }

.release-tender .margin-star { display: none; }

.release-tender .file-span { float: left; height: 34px; }
