@charset "UTF-8";
/****** 混合通用的样式 Edited By Edward(2016-08-1) ******/
.gray { color: #e4e4e4; }

.dark { color: #000; }

.white { color: #fff; }

.display-none { display: none; }

.tender-bid { font-size: 14px; }

.tender-bid .bg-gray { background: #f5f5f5; }

.tender-bid .table > thead > tr > th, .tender-bid .table > thead > tr > td, .tender-bid .table > tbody > tr > th, .tender-bid .table > tbody > tr > td, .tender-bid .table > tfoot > tr > th, .tender-bid .table > tfoot > tr > td { padding: 11px 8px; }

.tender-bid .panel-body { overflow: hidden; padding-bottom: 0; }

.tender-bid .panel-body .table { margin-bottom: 0; }

.tender-bid a { color: #00b7ec; }

.tender-bid .tips { padding: 10px; }

.tender-bid .table > thead > tr > th, .tender-bid .table > thead > tr > td, .tender-bid .table > tbody > tr > th, .tender-bid .table > tbody > tr > td, .tender-bid .table > tfoot > tr > th, .tender-bid .table > tfoot > tr > td { vertical-align: middle; }

.tender-bid .table > thead > tr > th .word-break, .tender-bid .table > thead > tr > td .word-break, .tender-bid .table > tbody > tr > th .word-break, .tender-bid .table > tbody > tr > td .word-break, .tender-bid .table > tfoot > tr > th .word-break, .tender-bid .table > tfoot > tr > td .word-break { word-break: break-all; word-wrap: break-word; }

.tender-bid .project-wrapper { width: 100%; margin-bottom: 20px; }

.tender-bid .project-wrapper .project-title { width: 79px; text-align: center; border: 1px solid #e4e4e4; background: #f9f9f9; }

.tender-bid .project-wrapper .td-border { border-top: 1px solid #e4e4e4; border-left: 1px solid #e4e4e4; border-bottom: 1px solid transparent; }

.tender-bid .project-wrapper .td-border ul { float: left; }

.tender-bid .project-wrapper li { position: relative; top: 1px; float: left; width: 150px; overflow: hidden; border: 1px solid #e4e4e4; border-top: 0; border-left: 0; }

.tender-bid .project-wrapper li span { display: block; height: 40px; border-bottom: 1px solid #e4e4e4; background: #f9f9f9; color: #6f6f6f; font-size: 14px; line-height: 40px; text-align: center; }

.tender-bid .project-wrapper li p { height: 50px; font-size: 16px; line-height: 50px; text-align: center; }

.tender-bid .project-wrapper li a { color: #00b7ec; }

.tender-bid .project-wrapper li i { font-style: normal; }

.tender-bid .project-wrapper li.larger-content, .tender-bid .project-wrapper li.larger-content-1, .tender-bid .project-wrapper li.larger-content-2, .tender-bid .project-wrapper li.larger-content-3 { width: 660px; border-bottom: 0; }

.tender-bid .project-wrapper li.larger-content span, .tender-bid .project-wrapper li.larger-content-1 span, .tender-bid .project-wrapper li.larger-content-2 span, .tender-bid .project-wrapper li.larger-content-3 span { background: #fff; text-align: left; text-indent: 30px; }

.tender-bid .project-wrapper li.larger-content-1 { width: 220px; border-bottom: 1px solid #e4e4e4; }

.tender-bid .project-wrapper li.larger-content-1 span { text-indent: 0; text-align: center; background: #f9f9f9; }

.tender-bid .project-wrapper li.larger-content-2 { width: 220px; border-bottom: 1px solid #e4e4e4; }

.tender-bid .project-wrapper li.larger-content-3 { width: 220px; }

.tender-bid .project-wrapper li.bg span { background: #f9f9f9; text-align: center; text-indent: 0; }

.tender-bid .modal.in .modal-dialog { width: 853px; }

.tender-bid .down-link { padding-left: 20px; background: url("/images/common/spriteIco.png") no-repeat -550px -268px; color: #00b7ec; }
