// 保证金管理 基础样式
@import '../../../helpers/mixins';


// *公用样式 _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
$bgUrl : "/images/common/apply_ico.png";
$ffYh: "\5FAE\8F6F\96C5\9ED1";
$ffSt: '\5B8B\4F53';
$ffArial: 'Arial';
.text-c { text-align: center;}
.text-l { text-align: left;}
.text-r { text-align: right;}
.hgt-65 {height: 65px;}
.mt150 {margin-top: 150px;}
.sizeNone {
    font-size: 0;
    .iIpt {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.require {
    display: inline-block;
    padding-right: 3px;
    font-family: $ffSt;
    color: #f60f60;
    text-decoration: initial;
    vertical-align: middle;
    height: 16px;
    line-height: 12px\0;
}
table.bor-no {
    margin-bottom: 10px;
    border: none;
    thead > tr > th,
    thead > tr > td,
    tbody > tr > th,
    tbody > tr > td {
        padding: 10px 4px;
        border: none;
        vertical-align: middle;
    }
    tbody > tr > th {
        padding: 18px 4px 0;
        border: none;
        vertical-align: top;
    }
}


//链接按钮
.link-btn-deft {
    display: inline-block;
    padding: 5px 5px;
    color: #007193;
    text-decoration: none;
    vertical-align: middle;

    &:link {text-decoration: none;}
    &:visited {text-decoration: none; color: #007193; outline-style: none;}
    &:active {text-decoration: none; color: #007193;}
    &:hover {
        text-decoration: none;
        color: #007193;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
    &:focus {outline-style:none; -moz-outline-style: none;}
}
.link-bnt-state {
    display: inline-block;
    margin-right: 10px;
    padding: 16px 5px;
    vertical-align: middle;
    color: #ff6e0f;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
}

//普通按钮
.iBtn {
    min-width: 180px;
    height: 40px;
    padding: 3px 15px;
    padding: 3px 7px\0;
    display: inline-block;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    &.mb10 { margin-bottom: 10px; }
}
//中号
.iBtn_sm {
    min-width: 96px;
    height: 32px;
    padding: 2px 15px;
    padding: 2px 7px\0;
    font-size: 12px;
    line-height: 26px;
}
//否定, 退回
.iBtn_no {
    color: #ffffff;
    background: #fd6e35;

    &:link {text-decoration: none;}
    &:visited {text-decoration: none; color: #ffffff; outline-style:none;}
    &:active {text-decoration: none; color: #ffffff;}
    &:hover {
        text-decoration: none;
        color: #ffffff;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
    &:focus {outline-style:none; -moz-outline-style: none;}
}
//默认, 取消
.iBtn_def {
    color: #ffffff;
    border: 1px solid #e4e4e4;
    background: #c7c7c7;

    &:hover {
        border: 1px solid #cccccc;
        color: #ffffff;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
}
//确定
.iBtn_yes {
    color: #ffffff;
    background: #1fb8ea;

    &:hover {
        color: #ffffff;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
}
//验证码 btn
.btnVerifyCode {
    display: inline-block;
    width: 133px;
    height: 34px;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 0;

    &:hover {opacity: 0.8; filter: alpha(opacity=80);}
    &.valid {background: #8c8c8c;}
    &.expire {
        cursor: not-allowed;
        &:hover {
            opacity: 1;
            filter: alpha(opacity=100);
        }
    }
}


// *表单元素框
.iIpt {
    display: inline-block;
    height: 40px;
    padding: 0 6px;
    padding: 0 3px\0;
    font-size: 16px;
    line-height: 36;
    vertical-align: middle;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:hover {border: 1px solid #01b7ec;}
}
.iIpt_bm {
    height: 34px;
    height: 34px\0;
    padding: 2px 4px;
    padding: 2px 2px\0;
    font-size: 14px;
    line-height: 34px;
    line-height: 32px\0;
    vertical-align: middle;
}
.iIpt_sm {
    height: 30px;
    height: 30px\0;
    padding: 2px 4px;
    padding: 2px 2px\0;
    font-size: 14px;
    line-height: 30px;
    line-height: 28px\0;
    vertical-align: middle;
}
//表单长度
.form-inline .inp-min,    .inp-min    {width:80px;}
.form-inline .inp-min,    .inp-small  {width:120px;}
.form-inline .inp-normal, .inp-normal {width:180px;}
.form-inline .inp-large,  .inp-large  {width:220px;}
.form-inline .inp-max,    .inp-max    {width:314px;}






// *模态框 相关样式
.modal-dialog {
    margin:0 auto;
    .modal-content {
        border-radius: 2px;
        border-top: 2px solid #00b6ec;
    }
    .modal-body { position: relative;}
}
.modal-header {
    height: 50px;
    padding: 10px 12px;

    .close {
        display: inline-block;
        width: 22px;
        height: 22px;
        margin: 3px 0 0 0;
        opacity: 0.8;
        filter: alpha(opacity=80);
        background: url($bgUrl) no-repeat -6px -2px;

        &:hover {background: url($bgUrl) no-repeat -54px -2px;}
    }
}
.modal-title {
    color: #333333;
    font-size: 20px;
    font-family: $ffYh;
    line-height: 30px;
}
.modal-sm {width: 400px;}
.modal-ss {width: 500px;}
.modal-pl {width: 800px;}
.modal-lg {width: 940px;}




// *页面布局 _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
#main {padding-bottom: 30px;}
.containerWrap {
    margin: 0;
    padding: 0 20px 20px;
    background: #ffffff;

    .plate-wrap {
        width: auto;

        .plate-wrap-head {
            position: relative;
            z-index: 3;
            height: 36px;
            line-height: 36px;
            //background: #cccccc;

            .prefix {
                float: left;
                display: inline;
                width: 3px;
                height: 20px;
                margin-top: 7px;
                margin-right: 10px;
                background: #00b6ef;
            }
            .headLeft {
                margin: 0;
                font: lighter 18px/36px "\5FAE\8F6F\96C5\9ED1";
            }
            .headLeft_hint {
                display: inline-block;
                font-size: 12px;
                color: #ff6e27;
            }
            .headContent {
                width: 40%;
                display: block;
                margin: 0 auto;
                text-align: center;
                font: lighter 18px/36px "\5FAE\8F6F\96C5\9ED1";
            }
            .headRight {
                width: 100px;
                float: right;
                display: inline;
                text-align: right;
                font-size: 12px;
                line-height: 36px;
                font-family: $ffSt;
            }
            .subTitle_hint {
                display: inline-block;
                height: 28px;
                color: #333333;
                font-size: 12px;
                font-family: $ffSt;
                line-height: 18px;
            }

            &.bor-btm-solid {
                border-bottom: 1px solid #e8e8e8;
            }
        }

        .plate-wrap-main {
            position: relative;
            z-index: 4;
            border: none;

            &.bor-solid {
                border: 1px solid #e8e8e8;
            }
        }
    }

}


// *数据列表 _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
.table-query-list {
    width: 100%;
    border: none;
    font-size: 14px;

    > thead > tr >th {
        height: 34px;
        border-width: 1px 0 0;
        border-top: 1px solid #00b7ec;
        background: #f5f5f5;
        color: #666666;
        text-align: center;
    }
    > tbody > tr > td {
        height: 100px;
        padding: 10px;
        border-width: 0 0 1px;
        border-bottom: 1px dotted $gray3;
        word-break: break-all;
        word-wrap: break-word;
        box-sizing: border-box;
        text-align: center;
        color: #333333;
    }
    > tbody > tr:hover {
        td {
            background: #effafd;
        }
    }
}

// *数据详情 _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
.table-query-details {
    width: 100%;
    border: none;
    font-size: 14px;

    > tbody > tr >th {
        height: 50px;
        padding: 0 10px;
        border: 1px solid #e4e4e4;
        font-weight: lighter;
        background: #f5f5f5;
        font-size: 12px;
        color: #999999;
        text-align: right;
    }
    > tbody > tr > td {
        height: 50px;
        padding: 0 10px;
        border: 1px solid #e4e4e4;
        word-break: break-all;
        word-wrap: break-word;
        box-sizing: border-box;
        font-size: 14px;
        text-align: left;
        color: #333333;
    }
}


// 错误提示条
.errInfo {
    //position: absolute;
    display: none;
    height: 18px;
    padding-top: 6px;
    font-size: 12px;
    color: #f37852;

    &.err-verifyCode {}
    &.err-payPass {}
}





























