//老项目迁移
@import '../../../helpers/mixins';
#body-content {
  .table-info {
    td {
      text-align: center;
      height:42px;
      padding: 0px 10px;
    }
  }
  .greyBg td{height:34px;}
  td.no-padding {
    //padding: 0;
    padding: 10px 0px;
  }
  td.padding-none {
    padding: 0;
  }
  td.padding-none .amountInput{
    border:none;
    width:78px;
    text-align: center;
  }
  td.padding-none .unit{
    display: inline-block;
    vertical-align: middle;
  }
  .none {
    display: none;
  }
  .radio-btn {
    margin-left: 20px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background-image: url("/images/partials/tender/radio-empty.png");
  }
  i.m-l-0 {
    margin-left: 0px;
  }
  i.radio-blue {
    background-image: url("/images/partials/tender/radio-blue.png");
  }
  #tender-main {
    background-color: #f6f6f6;
    padding-bottom: 20px;
    div {
      padding: 0;
      margin-right: 0;
    }
    .breadcrumbNav {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
      //margin-top: 10px;
      //margin-bottom: 10px;
      //font-size: 12px;
      //color: #333333;
      //.fgray {
      //  color: #999999;
      //}
      //.ico-home {
      //  background-image: url("/images/common/home.png");
      //  width: 12px;
      //  height: 11px;
      //  display: inline-block;
      //}
    }
    .head a {
      color: #333333;
    }
    .main-centent {
      overflow: hidden;
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      padding:0 30px;
      //border: 1px solid red;
      .tender-title {
        border-left: 2px solid #31b9e6;
        margin-top: 25px;
        padding-left: 16px;
        font-size: 18px;
      }
      #tender-info {
        margin-top: 20px;
        border-collapse: collapse;
        font-size: 12px;
        margin-bottom: 10px;
        td {
          border: 1px solid #e4e4e4;
        }
        td.th {
          background-color: #f9f9f9;
          color: #999;
        }
        td.tv {
          background-color: #ffffff;
          color: #333333;
        }
        td.title {
          padding-left: 10px;
          text-align: left;
          font-size: 16px;
          color: #333333;
          border-top: solid 1px #31b9e6;
          background-color: #e4f7fc;
        }
        //}
      }

      .supply-tender-info {
        padding-left: 18px;
        margin-top: 20px;
        border-left: none;
        line-height: 42px;
        vertical-align: middle;
        background-color: #e4f7fc;
        border-top: solid 1px #31b9e6;
        font-size: 16px;
      }
      .detail-info {
        margin-bottom: 20px;
        color: #333333;
        .radio-type {
          margin-top: 20px;
          margin-left: 18px;
          .lable {
            width: 100px;
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
          }
          .radio-lable {
            font-size: 12px;
            width: 85px;
            display: inline-block;
            vertical-align: middle;
          }
          .lable-85 {
            width: 85px;
          }
        }
      }
      .option {
        margin-right: 29px;
        margin-bottom: 10px;
        float: right;
        .btn-bid {
          margin-right: 3px;
          width: 95px;
          height: 30px;
          display: inline-block;
          line-height: 30px;
          border: 1px solid #ff6e27;
          border-radius: 2px;
          background-color: #ff6e27;
          vertical-align: middle;
          color: white;
          font-size: 12px;
          outline: none;
          text-align: center;
        }
        &:hover{
          opacity: .8;
          filter:alpha(opacity=80)
        }
        .btn-bid.btn-disable {
          border: 1px solid #b1b1b1;
          background-color: #b1b1b1;
        }
        .btn-export.click {
          border: 1px solid #00b7ec;
          color: #00b7ec;
        }
        .m-l-10 {
          margin-left: 10px;
        }
        .btn-export {
          display: inline-block;
          cursor: pointer;
          width: 85px;
          height: 30px;
          line-height: 24px;
          border-radius: 2px;
          background-color: #fdfdfd;
          vertical-align: middle;
          text-align: center;
          color: #333333;
          font-size: 12px;
          outline: none;
          border: 1px solid #e4e4e4;
          span {
            vertical-align: middle;
          }
          i {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            width: 12px;
            height: 10px;
            background-image: url("/images/tender/bid_export_icon.png");
          }
        }
        .num-account {
          display: inline-block;
          vertical-align: middle;
          text-align: right;
          margin-right: 20px;
          width: 200px;
          height: 24px;
          line-height: 24px;
          font-size: 12px;
        }
        #f-c-red {
          color: red;
        }
      }
      #tender-bid-info, #bid-answer-info {
        margin-top: 20px;
        margin-bottom: 20px;
        border-collapse: collapse;
        font-size: 12px;
        thead tr {
          background-color: #f9f9f9;
          td.arrow {
            cursor: pointer;
          }
          td {
            color: #999;
            .price {
              color: #ff6e27;
            }
            .sort {
              padding-right: 15px;
              position: relative;
              cursor: pointer;
              line-height: 11px;
              display: inline-block;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
            .sort:before, .sort:after {
              content: "";
              position: absolute;
              right: 0;
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
            }
            .sort:before {
              top: -1px;
              border-bottom: 5px solid #9e9e9e;
              border-left-width: 6px \9;
              border-right-width: 6px \9;
              border-bottom-width: 6px \9;
              right: -1px \9;
            }
            .sort:after {
              bottom: 0;
              border-top: 5px solid #9e9e9e;
              bottom: -1px \9;
            }
            .sortDown, .sortUp {
              padding-right: 15px;
              position: relative;
              color: #666;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
            .sortDown:after {
              content: "";
              position: absolute;
              right: 0;
              top: 50%;
              margin-top: -3px;
              width: 0px;
              height: 0px;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid #00b7ec;
            }
            .sortUp:after {
              content: "";
              position: absolute;
              right: 0;
              top: 50%;
              margin-top: -3px;
              width: 0px;
              height: 0px;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 5px solid #00b7ec;
              border-left-width: 6px \9;
              border-right-width: 6px \9;
              border-bottom-width: 6px \9;
            }
          }
        }
        tbody {
          tr {
            border-bottom: 1px dotted #dedede;
          }
          a {
            color: #333333;
          }
          a.a-bid:hover {
            cursor: pointer;
            color: #00b7ec;
            text-decoration: underline;
          }
          a.a-bid.mg-l {
            margin-left: 10px;
          }
          tr:hover {
            background-color: #effafd;
          }
          tr.empty:hover {
            background-color: white;
          }
        }
      }
    }

//    add style+++++++++++++++++++++++++++++++++++++++++++++++
    .main-centent .blueTit{
      padding-left: 18px;
      margin-top: 20px;
      border-left: none;
      line-height: 42px;
      vertical-align: middle;
      background-color: #e4f7fc;
      border-top: solid 1px #31b9e6;
      font-size: 16px;

    }
    .main-centent .tableProjectWrap{
      overflow-x: auto;
      margin:0 10px;
    }
    .tableProjectWrap table td{height: 42px;}
//    .tableProjectWrap::-webkit-scrollbar{-webkit-appearance:none;cursor: pointer}
//    .tableProjectWrap::-webkit-scrollbar:vertical{width:18px;padding: 0px 2px}
//    .tableProjectWrap::-webkit-scrollbar-thumb{border-radius:6px;background-color:#00b7ec}
//    .tableProjectWrap::-webkit-scrollbar-track{border-radius:0;border:1px solid #e4e4e4;border-left: none;border-right: none;}
    .tender-content{
      white-space: nowrap;
    }
    .tmplTable td{padding:0;}
    .tmplTable div{height:42px;line-height: 42px;}
    .tmplTable .th{background: #f6f6f6;}
    .tmplTable div{padding:0 5px;}




    .main-centent .sortWrap{border:1px solid #e4e4e4;font-size: 0;}
    .main-centent .sortWrap .sortHead{height:40px;background: #f6f6f6;font-size: 0;border-bottom:1px solid #e4e4e4;}
    .sortWrap .sortHead >div{background: #f6f6f6;display: inline-block;width: 120px;font-size: 12px;color:#000;line-height: 39px;text-align: center;border-right: 1px solid #e4e4e4;}
    .sortWrap .sortHead div a{display: block;color:#000;}
    .sortWrap .sortHead div a:focus{text-decoration: none;color:#000;}
    .sortWrap .sortHead div.on{position:relative;}
    .sortWrap .sortHead div.on > a{background: #fff;color:#00b7ec;height: 40px;}
    .sortWrap .sortHead .goalSort{position: relative}
    .sortHead .goalSort .arrow{border-color: #00b7ec transparent transparent transparent;  border-style: solid;  border-width: 5px 4px 0 4px;  height: 0;right:3px; position: absolute;  top: 50%;  width: 0;margin-top: -3px;transition: all ease .3s;}
    .sortHead .goalSort .arrowDown{transform:rotate(-180deg);-ms-transform:rotate(-180deg);-moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-o-transform:rotate(-180deg);}
    .goalSort .goalWrap{width: 121px;border:1px solid #e4e4e4;border-top: none;background: #fff;position: absolute;top:39px;left:-1px;display: none;}
    .goalSort .goalWrap > div{line-height: 40px;font-size: 12px;}
    .goalSort .goalWrap a:hover{background: #effafd;}

    .sortWrap .sortBodyL{margin:10px;overflow-x:auto;width: 1018px;display: inline-block;margin-right: 0;}
    .sortWrap .sortBodyL table{border-collapse: collapse;font-size: 12px;margin-bottom: 10px;width: 100%;table-layout: fixed;}
    .sortBodyL table tr{border-bottom:1px dashed #e4e4e4;height:92px;line-height: 92px;color:#333;font-size: 14px;}
    .sortBodyL table tr.greyBg{height:34px;line-height: 34px;}
//    .sortBodyL table tr:hover{background: #effafd;}
    .sortBodyL table tr td.supplyName{white-space: normal;line-height: 1.4;}
    .sortBodyL table .th{background-color: #f9f9f9;color: #666;border-bottom:1px solid #e4e4e4;font-size: 12px;}
//    .sortBodyL::-webkit-scrollbar{-webkit-appearance:none;cursor: pointer}
//    .sortBodyL::-webkit-scrollbar:vertical{width:18px;padding: 0px 2px}
//    .sortBodyL::-webkit-scrollbar-thumb{border-radius:6px;background-color:#00b7ec}
//    .sortBodyL::-webkit-scrollbar-track{border-radius:0;border:1px solid #e4e4e4;border-left: none;border-right: none;}

    .sortBodyR{display: inline-block;width: 100px;vertical-align: top;margin-top:10px;text-align: center;font-size: 14px;}
    .sortBodyR .control{background-color: #f9f9f9;  color: #666;border-bottom: 1px solid #e4e4e4;font-size: 12px;padding:0 10px;line-height: 34px;font-size: 12px;}
    .sortBodyR .controlWrap{line-height: 92px;border-bottom: 1px dashed #e4e4e4;}
    .sortBodyR .a-bid{
      width: 50px;
      height: 26px;
      display: inline-block;
      line-height: 26px;
      border: none;
      border-radius: 2px;
      background-color: #01b7ec;
      color: white;
      font-size: 12px;
      cursor: pointer;
    }
    .sortBodyR .a-bid:hover{
      opacity: .8;
      color:#fff;
      filter:alpha(opacity=80);
    }
    .sortBodyR .modifyBidBtn{
      background:#ff6e27 ;
    }


    .empty{text-align: center;font-size: 14px;color:#333;padding:30px 0;padding-top:0;}
    .empty img{vertical-align: bottom;}

    .bidingTableResult{width: 100%;text-align: center;margin-top: 10px;margin-bottom: 20px;font-size: 14px;}
    .bidingTableResult .bidingTit{background: #f9f9f9;color:#999;border-bottom: none;}
    .bidingTableResult td{height:42px;word-break: break-all}
    .bidingTableResult tr{border-bottom: 1px dashed #e4e4e4;}
    .bidingTableResult .del-bid{color:#ff0000;}
    .bidingTableResult .del-bid:hover{opacity: .6;filter:alpha(opacity=60);}

    .hoverBg{background:#effafd; }

    .filterWrap{margin-top:20px;padding-left: 18px;}
    .filterWrap .filterBlock{margin-bottom:20px;}
    .filterWrap p{display: inline-block;min-width: 100px;font-size: 14px;}
    .filterWrap p label{font-weight: normal;font-size: 12px;margin:0;cursor: pointer;}
    .filterWrap p label i{display: inline-block;vertical-align:middle;width:14px;height: 14px;background-image: url("/images/partials/tender/radio-empty.png");vertical-align: top;margin-right: 15px;}
    .filterWrap p label i.selected{background-image: url("/images/partials/tender/radio-blue.png");}

    .btnWrapBid{text-align: right;margin-bottom: 10px;}
    .btnWrapBid a{display: inline-block;width: 95px;height: 30px;line-height: 30px;border-radius: 2px;text-align: center;color:#fff;}
    .btnWrapBid a.modifyBid{background: #ff6e27;}
  }
//  add finish+++++++++++++++++++++++++++++++++++++++++++++++++++++
  #commit-modal, #del-modal,#del-modal1, #evaluation-modal, #template-modal {
    img {
      margin-top: -3px;
    }
    a {
      color: #333333;
      cursor: pointer;
    }
    #SetUpTenderTpl {
      color: #00b7ec;
      cursor: pointer;
    }
    a:hover {
      color: #00b7ec;
      text-decoration: underline;
    }
    .bid-modal {
      .dialog-main {
        border: solid 1px #ebebeb;
        border-top: solid 2px #00b7ec;
        margin: 130px auto;
        vertical-align: middle;
        .modal-content {
          border-radius: 0px;
          border: none;
          overflow: hidden;
          .modal-header {
            //padding: 0;
            //line-height: 42px;
            font-size: 18px;
            color: #333333;
            text-align: right;
            padding-right: 10px;
            background-color: #f7f7f7;
            //border-bottom: solid 1px #ebebeb;
            .modal-title {
              display: inline-block;
              float: left;
              //line-height: 42px;
              //margin-left: 20px;
            }
            .modal-cancel {
              cursor: pointer;
              display: inline-block;
              margin-top: auto;
              margin-bottom: auto;
              width: 16px;
              height: 15px;
              background-image: url("/images/partials/tender/dialog_cancel.png");
            }
            .modal-cancel:hover {
              background-image: url("/images/partials/tender/dialog_cancel_blue.png");
            }
          }
          .modal-center {
            text-align: center;
          }
          .modal-form-line {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            .btn-sure {
              width: 140px;
              height: 34px;
              height: 34px;
              margin-top: 30px;
              margin-bottom: 30px;
              color: #ffffff;
              background-color: #00b7ec;
              border-radius: 2px;
              outline: none;
              border: none;
            }
          }
          .error-span {
            color: #ff0000;
            margin-top: 4px;
            text-align: right;
            display: none;
          }
          .form-title {
            margin-top: 36px;
            font-size: 18px;
            color: #333333;
          }
          .form-title.del-title {
            text-align: center;
            //margin-bottom: 36px;
          }
          .form-content {
            margin-top: 36px;
            font-size: 18px;
            color: #333333;
            text-align: center;
          }
          .mg-b-40 {
            margin-bottom: 40px;
          }
          .modal-table {
            margin-top: 20px;
            border-collapse: collapse;
            font-size: 14px;
            td {
              border: 1px solid #e4e4e4;
            }
            .border-blue {
              border: 1px solid #00b7ec;
            }
            td.th {
              background-color: #f9f9f9;
              color: #999;
            }
            span.show {
              display: block;
            }
            //td :focus{
            //  border: 1px solid #00b7ec;
            //}
            //td input:focus{
            //  border: 1px solid #00b7ec;
            //  margin-top: -1px;
            //  margin-left: -1px;
            //  margin-right: -1px;
            //  margin-bottom: -1px;
            //}
          }
          .template-content {
            margin-top: 20px;
            height: 300px;
            overflow: auto;
            .template-table {
              width: 100%;
              height: auto;
              font-size: 12px;
              text-align: center;
              thead {
                background-color: #f5f5f5;
              }
              tbody {
                tr {
                  border-bottom: 1px dotted #dedede;
                  //height: 35px;
                  a {
                    //width: 430px;
                    word-wrap: break-word;
                    vertical-align: middle;
                  }
                }
              }
            }
          }
          .config-color {
            color: #00ab69
          }
          .errorTip {
            color: #ff0000;
            margin-top: 4px;
            font-size: 14px;
            display: none;
          }
        }
      }
      .dialog-main.del-modal {
        width: 370px;
      }
      .dialog-main.eval-modal {
        width: 500px;
      }
    }
  }
}
