@import '../../../helpers/mixins';

.panel-customer{
  .panel-heading{
    .pull-right{
      @include fontSize(12px);
    }
  }
  .tpl{
    overflow:hidden;
    .col-sm-5{
      padding-left:0;
    }
    .btn-default{
      padding:6px 40px 7px 40px;
      background:#f9f9f9;
      border-radius:0;
    }
    .btn-info{
      padding-left:30px;
      padding-right:30px;
      border-radius:0;
      background:#00b7ec;
      &:hover{
        opacity:0.8
      }
    }
  }
  .margin-bottom-10{
    margin-bottom:10px;
  }
  .table-customer{
    color:#666666;
    a{
      color:#00b7ec;
      font-size:12px;
    }
    width:100%;
    th{
      background:#f5f5f5;
      border:0!important;
      text-align:center;
    }
    td{
      height:80px;
      border-top:0!important;
      border-bottom:1px dotted #dedede!important;
      text-align:center;
      line-height:80px;
      font-size:14px;
      font-weight:normal;
      .btn-danger{
        display:none;
        padding:2px 10px;
        background:#fd6e35;
        border:1px solid #fd6e35;
        @include fontSize(12px);
      }
      .btn-no-bg{
        padding:3px 10px;
        background:none;
        color:#fd6e35;
        @include fontSize(12px);
      }
      .hide{
        display:none;
      }
    }
    tr:hover{
      td{
        background:#effafd;
        .btn-danger{
          display:inline-block;
        }
      }
    }
  }
}
#tplInfoModal {
  color: #333;
  font-size: 14px;
  .modal-dialog {width: 950px; height: 830px;}
  .close_modal{margin: 12px;}

  .iContent {
    margin: auto 30px 80px 30px;
    border-top: 1px solid #dedede;
  }

  .iTitle {
    margin: 60px auto 40px auto;
    font-size: 30px;
    text-align: center;
  }
  .cTitle {
    padding-top: 30px;
    font-weight: bold;
  }
  .cTip {
    padding-top: 30px;
    color: #fd6e35;
    img {margin-right: 10px}
  }
  .cDetail {
    margin: 8px auto;
  }
}

