#tplInfoModal {
  color: #333;
  font-size: 14px;
  .modal-dialog {width: 950px; height: 830px;}
  .close_modal{margin: 12px;}

  .iContent {
    margin: auto 30px 80px 30px;
    border-top: 1px solid #dedede;
  }

  .iTitle {
    margin: 60px auto 40px auto;
    font-size: 30px;
    text-align: center;
  }
  .cTitle {
    padding-top: 30px;
    font-weight: bold;
  }
  .cTip {
    padding-top: 30px;
    color: #fd6e35;
    img {margin-right: 10px}
  }

  .cDetail {
    margin: 8px auto;
    //    span { color: #00b7ec; }
  }
  //  .cSpace {text-indent: 2em;}
}


#tplRel, #tplDetail{
  .tpl-view-detail{
    margin-bottom:15px;
  }
  .none{
    display:none;
  }
  .vHidden{
    visibility:hidden;
  }
  font-size: 14px;
  p {margin: 0px;}


  .redFont {color: #fd6e35;}

  .outer {background-color: #f6f6f6; width: 100%; padding-bottom: 42px;}

  .container1 { width: 1200px; margin: 0 auto;}
  .background { background-color: #fff; padding-bottom: 30px;}

  .innerContent { margin: 0 auto; padding-top: 8px;}

  //  .bg_img.success{  background: url("/images/tenderSuccess.png") no-repeat;  }

  .modal{
    .bg_imgs { text-align: center; padding-top: 20px; padding-bottom: 20px;}
    .dialog_InfoBody { font-size: 18px; color: #666;}
    .tplBtn { font-size: 16px;}
    .autoClose {
      color: #999;
      span {color: #fd6e35;}
    }
  }
  .btn{ &:hover{opacity: 0.8;}}

  .head {
    border-bottom: #e8e8e8 solid 2px;
    height: 36px;
    padding-top: 10px;
    //    &:after {clear: both;}
  }
  .title {
    float: left;
    font-size: 14px;
    font-weight: 600;
    color: #333;

    padding-left: 10px;
    border-left: 3px solid #1fb8ea;
  }
  .readme {
    float: right;
    font-size: 12px;
    color: #007193;
    &:hover {color: #00b7ec;}
    img {width: 12px; height: 12px;}
  }

  .tplForm {
    margin-top: 26px;
    &.tplForm-view{
      margin-top:0;
    }
    .titleLabel {width: 76px;}
    .tip {
      padding-left: 80px;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 12px;
      #tplNameInfo {color: #999;}
    }

    #tplName {
      font-weight: normal;
      width: 430px;
      height: 32px;
      line-height: 32px;
      padding-left: 10px; padding-right: 10px;
    }

    table {
      //      border: 1px solid #666;
      width: 100%;
      font-size: 14px;
      color: #333;
      border: #e4e4e4 1px solid;

      th {
        background-color: #f5f5f5;
        height: 40px;
        //        padding-left: 80px;
        text-align: center;
        color: #666;
        font-weight: normal;
        &.first {padding-left: 10px;}
      }

      tbody {

        td {
          padding-left: 65px;
          padding-top: 20px;
          padding-bottom: 20px;
          background-color: #fcfcfc;


          &.tdCenter{padding-left: 0px; text-align: center;}

          .projectName {  width: 1.5em; line-height: 24px; }
          .detail {line-height: 24px;}
          .detailInfo {color: #999;}

          &.weightCol {
            background-color: #f3f3f3;
            padding-top: 10px;
            width: 25%;


            .weightInput{
              width: 120px; height: 38px; line-height: 38px;
              font-size: 20px;
              padding-left: 10px;
              &:focus {border: solid 1px #1fb8ea;}
            }
            span {font-size: 16px;}

            .weightTip{

              font-size: 12px; color: #666;
              padding: 4px;
              margin-bottom: 8px;
              position: relative;
              display: inline-block;
              border: 1px solid #77d9f2;
              background-color: #ecfbff;
              border-radius: 2px;
              img {
                position: absolute;
                bottom: -5px; left: 10px;
              }
            }
            .blueTip {color: #1fb8ea; font-size: 12px;}
            .weightErr {
              padding-top: 8px;
              color: #ff0000;
              font-size: 12px;
            }
          }

        }
      }

      tfoot {
        width: 100%;
        background-color: #f5f5f5;

        td {
          width: 100%;
          padding-bottom: 30px;
          text-align: center;}
        .summary {
          font-size: 14px;
          color: red;
          //          color: #666;
          padding-top: 30px;
          padding-bottom: 20px;
          //          span {color: #fd6e35;}
        }

        .tplBtn {
          width: 140px;  height: 40px; line-height: 40px;
          display: inline-block;
          font-size: 16px;
          border: none;
          &:hover {opacity: 0.8;}
        }
        .backBtn {
          background: #c7c7c7;
          color: #ffffff;
        }
        .saveTplBtn {
          background-color: #1fb8ea;
          color: #fff;
        }

        .mr20 { margin-right: 20px;}
      }

    }
  }
  .table-tpl{
    .th-style{
      text-align:left;
    }
    .span-width{
      display:inline-block;
      text-align:center;
    }
    .width-1{
      width:124px;
    }
    .width-2{
      width:200px;
    }
    .width-3{
      width:300px;
    }
    .width-4{
      width:290px;
    }
    li{
      &.no-border-bottom{
        border-bottom:0;
      }
      overflow:hidden;
      margin-top:-1px;
      border-bottom:1px solid #e4e4e4;
      .name{
        float:left;
        width:124px;
        padding:0 52px;
        border-top:1px solid #e4e4e4;
        border-right:1px solid #e4e4e4;
        background:#fff;
        text-align:center;
        div{
          display:table;
          height:100%;
          p{
            display:table-cell;
            line-height:24px;
            vertical-align:middle;
          }
        }
        .name-height-1{
          height:131px;
        }
        .name-height-2{
          height:262px;
        }
        .name-height-3{
          height:393px;
        }
        .name-height-4{
          height:524px;
        }
        .name-height-5{
          height:655px;
        }
        .name-height-6{
          height:786px;
        }
        .name-height-7{
          height:917px;
        }
        .name-height-8{
          height:1048px;
        }
        .name-height-9{
          height:1179px;
        }
        .name-height-10{
          height:1310px;
        }
      }
      .details{
        float:left;
        border-top:1px solid #e4e4e4;
        background:#fff;
        dt,dd{
          float:left;
        }
        dt{
          width:200px;
          height:130px;
          border-right:1px solid #e4e4e4;
          line-height:130px;
          text-align:center;
          font-weight:normal;
        }
        dd{
          width:340px;
          height:130px;
          padding-left:40px;
          border-right:1px solid #e4e4e4;
          &.last{
            width:290px;
            padding-top:18px;
            border-right:0;
            background:#f3f3f3;
            .view-para{
              font-size:20px;
              span{
                font-size:16px;
              }
            }
            &.view-last{
              padding:0;
              .table{
                display:table;
                height:100%;
                .view-para{
                  display:table-cell;
                  padding-left:90px;
                  vertical-align:middle;
                }
              }
            }
          }
          i{
            color:#999;
            font-style:normal;
          }
          strong{
            font-weight:normal;
          }

          .list-wrapper{
            display:table;
            height:100%;
            .list-table-cell{
              display:table-cell;
              vertical-align:middle;
              line-height:24px;
            }
          }
        }
      }
    }
  }
}


#tplDetail {
  .tplNameDetail {
    font-size: 14px;
    color: #999;
    margin-bottom: 15px;
    span {color: #333; }
  }
  #weightCol{
    .weightNo {
      padding-left: 30px;
      font-size: 20px;
      color: #333;
      span {font-size: 16px;}
    }
  }
}
#tplRel .tplForm table.table-tpl tbody td{
  padding:0;
  padding-top:0;
}
.modal-title{
  font-size:18px;
}