@import '../../../helpers/mixins';

.sidebar{
  margin-top:0px;
}
.my-tender{
  background:$white;
  .tab-nav:after{
    display:inline;
    clear:both;
    content:"";
    visibility:hidden;
    height:0;
  }
  .tab-nav{
    border-bottom:1px solid $gray1;
    ul{
      position:relative;
      top:1px;
      overflow:hidden;
      li{
        float:left;
        height:40px;
        padding:0 16px;
        line-height:40px;
        @include fontSize(14px);
        a{
          display:block;
          height:40px;
          &:hover,&.active{
            border-bottom:2px solid $blue1;
            color:$blue1;
          }
        }
      }
    }
  }
  .table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td{
    border:0;
  }
  .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
    border-top:0;
  }
  .table{
    color:$gray3;
    @include fontSize(12px);
    tr{
      &:hover{
        background:#effafd;
      }
    }
    td{
      border-bottom:1px dashed $gray1;
      vertical-align:middle;
      dl{
        padding:14px 0;
        padding-left:6px;
        dt{
          padding:6px 0;
          strong{
            color:$gray4;
            @include fontSize(14px);
            font-weight:normal;
          }
          h2{
            width:328px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
            color:$gray4;
            @include fontSize(16px);
          }
        }
        dd{
          line-height:26px;
          strong{
            color:$gray4;
            font-weight:normal;
            &.font-size-14{
              font-size:14px;
            }
          }
        }
      }
      a{
        margin:0 4px;
        color:$blue1;
        @include fontSize(14px);
      }
      .btn-price{
        width:auto;
        height:auto;
        margin-bottom:6px;
        padding:0 8px;
        color:$white;
      }
    }
  }
  .deadLine{
    color:#333333;
  }
}