@import '../../../helpers/mixins';
body.no-scroll{
  overflow-y:hidden;
}
.release-tender{
  .uploadify-queue{
    display: none;
  }
  .release-tender-content{
    padding-top:20px;
    background:$white;
  }
  .panel-customer{
    margin-top:0;
    padding-top:0;
    .bg-gray{
      .pull-right{
        display:none;
      }
    }
  }
  .icon-operate{
    display:inline-block;
    width:60px;
    height:24px;
    padding-left:28px;
    @include fontSize(14px);
    cursor:pointer;
    &.edit{
      background:url('/images/partials/releaseTender/operateIcon.png') no-repeat left top;
      &:hover,&.active{
        background:url('/images/partials/releaseTender/operateIcon.png') no-repeat -60px top;
        color:$blue1;
      }
    }
    &.delete{
      background:url('/images/partials/releaseTender/operateIcon.png') no-repeat left -80px;
      &:hover,&.active{
        background:url('/images/partials/releaseTender/operateIcon.png') no-repeat -60px -80px;
        color:$blue1;
      }
    }
  }
  .panel-body{
    padding:20px 15px;
    padding-bottom:0;
    &.overflow-hidden{
      overflow:hidden;
    }
    &.form-position-fixed-wrap{
      position:relative;

    }
  }
  .radio-inline{
    input{
      margin-top:1px;
    }
  }
  .add-btn{
    display:inline-block;
    width:180px;
    height:40px;
    margin-top:10px;
    border:1px dashed $gray1;
    background:url('/images/partials/releaseTender/addBtn.png') no-repeat 26px 8px;
    line-height:38px;
    @include fontSize(14px);
    text-align:center;
    text-indent:30px;
    cursor:pointer;
    &:hover{
      border:1px dashed $blue1;
      background:url('/images/partials/releaseTender/addBtn.png') no-repeat 26px -32px;
    }
  }
  .line{
    margin:0 20px;
    margin-top:10px;
    padding:30px 0;
    border-top:1px solid $gray1;
    .link-default{
      @include fontSize(14px);
      margin-left:10px;
      color:$gray3;
      &:hover{
        color:$blue1;
      }
    }
  }
  .form-border{
    &.form-position-fixed{
      position:fixed;
      top:10%;
      left:10%;
      z-index:101;
      width:80%;
      height:80%;
      overflow-y:auto;
      background:$white;
      .close-btn{
        margin-top:-14px;
        color:#c7c7c7;
        font-size:30px;
        cursor:pointer;
      }
    }
    display:none;
    padding:30px;
    border:1px solid $blue1;
    @include fontSize(14px);
    .form-group{
      &.overflow-hidden{
        overflow:hidden;
      }
      padding-left:0;
      &.btn-group-customer {
        margin-top:30px;
        margin-bottom:0;
        text-align:center;
        a{
          margin-right:10px;
        }
        .link-default{
          color:$gray3;
          &:hover{
            color:$blue1;
          }
        }
      }
      .padding-top-8 {
        display: inline-block;
        padding-top: 8px;
        text-indent:4px;
        color:$gray3;
      }
      .width-110{
        display:inline-block;
        width:130px;
      }
      .width-120{
        display: inline-block;
        width:120px;
      }
      .control-label{
        color:$gray3;
      }
      textarea{
        color:#555555;
      }
      .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-10{
        padding-left:0;
        padding-right:0;
      }
      .col-sm-4{
        span{
          color:$gray3;
        }
      }
      select{
        color:$gray3;
      }
    }
  }
  .content-txt,.content-txt-template{
    display:none;
    .form-group{
      overflow:hidden;
    }
    margin-bottom:10px;
    padding:20px 10px 20px 10px;
    border-bottom:1px dashed $gray1;
    color:$gray3;
    strong{
      color:$gray4;
      @include fontSize(16px);
      font-weight:normal;
    }
    .line-height-24{
      line-height:22px;
    }
  }
  .content-txt-template{
    display:none;
  }
  .time-picker-icon {
    background: url('/images/common/datepickIcon.png') no-repeat 10px 9px;
  }
  textarea{
    resize:vertical;
  }
  .radio-inline{
    color:$gray3;
  }
  #tenderProject{
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-10{
      .form-control{
        @include fontSize(12px);
        letter-spacing:-1px;
      }
    }
  }
  #tenderCommerce{
    .picker{
      top:38px;
    }
    strong{
      width:800px;
      word-break:break-all;
      &.comments{
        margin-top:-3px;
      }
    }
    .content-txt{
      border-bottom:0;
    }
  }
  .padding-top-4{
    padding-top:4px;
  }
  .upload-wrapper{
    .file-txt{
      position:absolute;
      top:5px;
      left:0px;
      width:100px;
      height:28px;
      overflow:hidden;
      opacity:0;
      cursor:pointer;
    }
    ul{
      margin-top:10px;
      li{
        display:inline-block;
        height:28px;
        margin-right:10px;
        margin-bottom:10px;
        padding-left:30px;
        padding-right:10px;
        border:1px solid #f5f5f5;
        background:#f5f5f5 url('/images/common/spriteIco.png') no-repeat -540px -222px;
        line-height:26px;
        cursor:pointer;
        &:hover{
          border:1px solid #45b8ed;
          span{
            background:url('/images/common/spriteIco.png') no-repeat -260px -174px;
          }
        }
        span{
          display:inline-block;
          width:14px;
          height:14px;
          margin-left:10px;
          background:url('/images/common/spriteIco.png') no-repeat -220px -174px;
          cursor:pointer;
        }
      }
    }
  }
  .upload-btn{
    display:inline-block;
    width:100px;
    height:28px;
    margin:4px 0 10px 0;
    padding-left:32px;
    border:1px solid #e4e4e4;
    border-radius:2px;
    background:url('/images/common/spriteIco.png') no-repeat -540px -301px;
    line-height:28px;
    @include fontSize(12px);
    cursor:pointer;
    &.eidt{
      background:url('/images/partials/releaseTender/tender-upload.png') no-repeat 10px center;
    }
  }
  .display-hide{
    display:none;
  }
  .margin-top-10{
    margin-top:10px;
  }
  .upload-progress{
    position:relative;
    display:none;
    width:100px;
    height:30px;
    margin:10px 0 10px 0;
    border:1px solid #e4e4e4;
    text-align:center;
    line-height:30px;
    .progress{
      position:absolute;
      top:0;
      left:0;
      width:1%;
      height:3px;
      background:#00b7ec;
    }
  }
  .display-none{
    display:none;
    padding-top:8px;
  }
  .uploadData{
    overflow:hidden;
    li {
      display:inline-block;
      height: 28px;
      margin-right: 10px;
      margin-bottom:10px;
      padding-left: 30px;
      padding-right: 10px;
      border: 1px solid #f5f5f5;
      border-radius:4px;
      background: #f5f5f5 url('/images/common/spriteIco.png') no-repeat -540px -222px;
      line-height: 26px;
    }
  }
  .btn.disabled{
    background:$gray3;
    cursor:default;
    &:hover,&:active,&:focus{
      background:$gray3;
      box-shadow:none;
      outline:none;
    }
  }
  .btn-info{
    padding:8px 55px;
    border-radius:0;
    border:0;
  }
  .font-size-12{
    margin-top:10px;
    font-size:12px;
  }
  input[disabled]{
    background-color:#f8f8f8 !important;
  }
  .margin-star{
    display:none;
  }
  .file-span{
    float:left;
    height:34px;
  }
}
