@charset "UTF-8";
/****** 混合通用的样式 Edited By Edward(2016-08-1) ******/
.gray { color: #e4e4e4; }

.dark { color: #000; }

.white { color: #fff; }

.display-none { display: none; }

#publicPreview { background: #fff; outline: none; padding: 20px; font-size: 14px; line-height: 1.6; }

#publicPreview .previewWrap { padding: 60px 100px; border: 1px solid #ccc; word-break: break-all; }

#publicPreview .previewWrap h1 { font-size: 24px; color: #333; margin-bottom: 40px; }

#publicPreview .previewWrap .titWrap { padding-bottom: 20px; }

#publicPreview .previewWrap .titWrap .pl27 { padding-left: 27px; word-wrap: break-word; }

#publicPreview .previewWrap .pd30 { padding-bottom: 30px; }

#publicPreview .btnWrap { text-align: center; margin-top: 20px; }

#publicPreview .btnWrap a { display: inline-block; width: 180px; height: 40px; line-height: 40px; text-align: center; font-size: 14px; border-radius: 2px; background: #c7c7c7; color: #fff; }

#publicPreview .btnWrap a:hover { opacity: .8; }

#publicPreview table, #publicPreview td, #publicPreview tr { border: 1px solid #ddd; border-collapse: collapse; padding: 5px; }
