@charset "UTF-8";
/****** 混合通用的样式 Edited By Edward(2016-08-1) ******/
.gray { color: #e4e4e4; }

.dark { color: #000; }

.white { color: #fff; }

.display-none { display: none; }

#publicDetail { background: #fff; outline: none; padding: 20px; font-size: 16px; line-height: 1.6; }

#publicDetail .previewWrap { padding: 60px 100px; word-break: break-all; }

#publicDetail .previewWrap h1 { font-size: 24px; color: #333; margin-bottom: 16px; }

#publicDetail .previewWrap .mb10 { margin-bottom: 10px; color: #999; font-size: 14px; }

#publicDetail .previewWrap .titWrap { padding-bottom: 20px; }

#publicDetail .previewWrap .titWrap .pl27 { padding-left: 27px; word-wrap: break-word; }

#publicDetail .previewWrap .pd20 { padding-bottom: 20px; }

#publicDetail .btnWrap { text-align: center; margin-top: 20px; }

#publicDetail .btnWrap a { display: inline-block; width: 180px; height: 40px; line-height: 40px; text-align: center; font-size: 14px; border-radius: 2px; background: #c7c7c7; color: #fff; }

#publicDetail .btnWrap a:hover { opacity: .8; }

#publicDetail table, #publicDetail td, #publicDetail tr { border: 1px solid #ddd; border-collapse: collapse; padding: 5px; }
