@charset "UTF-8";
/****** 混合通用的样式 Edited By Edward(2016-08-1) ******/
.gray { color: #e4e4e4; }

.dark { color: #000; }

.white { color: #fff; }

.display-none { display: none; }

#publicRelease { background: #fff; padding: 20px; margin-left: 200px; outline: none; }

#publicRelease .publicReleaseWrap table.publicFormWrap { border: 1px solid #e4e4e4; border-collapse: collapse; width: 100%; text-align: left; color: #999; table-layout: fixed; }

#publicRelease .publicReleaseWrap table.publicFormWrap td { border: 1px solid #e4e4e4; border-collapse: collapse; padding-left: 10px; }

#publicRelease .publicReleaseWrap table.publicFormWrap td select { display: none; width: 325px; }

#publicRelease .publicReleaseWrap table.publicFormWrap td.greyBg { background: #f5f5f5; width: 115px; text-align: center; line-height: 40px; padding-left: 0; font-size: 12px; color: #666; }

#publicRelease .publicReleaseWrap table.publicFormWrap td.greyBg b { color: #ff0000; }

#publicRelease .publicReleaseWrap table.publicFormWrap td label { margin: 0; padding-left: 15px; font-size: 12px; display: inline; }

#publicRelease .publicReleaseWrap table.publicFormWrap td label.lw180 { width: 180px; }

#publicRelease .publicReleaseWrap table.publicFormWrap td input { width: 300px; border: none; outline: none; color: #333; }

#publicRelease .publicReleaseWrap table.publicFormWrap td.bidLabel label { overflow: hidden; display: inline-block; }

#publicRelease .publicReleaseWrap table.publicFormWrap td.bidLabel label input { position: relative; top: -50px; width: 0; height: 0; }

#publicRelease .publicReleaseWrap table.publicFormWrap td.bidLabel label.bidUnSelect { background: url("/images/partials/publicRelease/unselectedIcon.png") no-repeat left center; cursor: pointer; }

#publicRelease .publicReleaseWrap table.publicFormWrap td.bidLabel label.bidSelect { background: url("/images/partials/publicRelease/selectedIcon.png") no-repeat left center; cursor: pointer; }

#publicRelease .publicReleaseWrap table.publicFormWrap td.timeWrap input { width: 116px; text-align: center; padding-left: 15px; }

#publicRelease .publicReleaseWrap table.publicFormWrap td p { display: inline-block; position: relative; vertical-align: middle; }

#publicRelease .publicReleaseWrap table.publicFormWrap td p.pd30 { padding: 0 30px; }

#publicRelease .publicReleaseWrap table.publicFormWrap td p i { position: absolute; left: 0; top: 2px; background: url("/images/partials/publicRelease/datepickIcon.png"); width: 11px; height: 13px; }

#publicRelease .publicReleaseWrap .whiteBg { width: 345px; font-size: 14px; }

#publicRelease .publicReleaseWrap table.publicFormWrap .pl0 { padding-left: 0px; }

#publicRelease .publicReleaseWrap .editWrap { min-height: 485px; }

#publicRelease .publicReleaseWrap .errorMsg { color: #ff0000; font-size: 14px; padding-top: 10px; height: 20px; }

#publicRelease .publicReleaseWrap .btnWrap { text-align: center; margin: 50px 0; }

#publicRelease .publicReleaseWrap .btnWrap a { width: 180px; height: 40px; margin-left: 10px; font-weight: bold; font-size: 14px; line-height: 40px; border-radius: 2px; display: inline-block; background: #f3fcff; border: 1px solid #00b6ef; color: #00b6ef; vertical-align: middle; }

#publicRelease .publicReleaseWrap .btnWrap a:hover { background: #00b6ef; color: #fff; }

#publicRelease .publicReleaseWrap .btnWrap a.returnBtn { background: #c7c7c7; color: #fff; border: none; }

#publicRelease .publicReleaseWrap .btnWrap a.returnBtn:hover { opacity: .8; border: none; }

#publicRelease a:focus { text-decoration: none; }

#publicRelease .edui-default .edui-editor { border: none !important; }

#publicRelease #edui1_elementpath { border: none; }

#publicRelease #edui1_wordcount { border: none; }

span:focus { outline: none; }

.select2-container--default .select2-selection--single { border: none; }

.select2-container--default .select2-selection--single .select2-selection__arrow b { border: none; background: url("/images/partials/publicRelease/arrowDown.png") no-repeat; width: 9px; height: 9px; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { background: url("/images/partials/publicRelease/arrowUp.png") no-repeat; }

.select2-dropdown { border: 1px solid #32c3ee; }

.select2-container .select2-selection--single .select2-selection__rendered { padding-left: 0px; }

.select2-container--default .select2-selection--single .select2-selection__rendered { color: #333; }
