@charset "UTF-8";
/****** 混合通用的样式 Edited By Edward(2016-08-1) ******/
.gray { color: #e4e4e4; }

.dark { color: #000; }

.white { color: #fff; }

.display-none { display: none; }

/****** 混合通用的样式 Edited By Edward(2016-08-1) ******/
.gray { color: #e4e4e4; }

.dark { color: #000; }

.white { color: #fff; }

.display-none { display: none; }

.text-c { text-align: center; }

.text-l { text-align: left; }

.text-r { text-align: right; }

.hgt-65 { height: 65px; }

.mt150 { margin-top: 150px; }

.sizeNone { font-size: 0; }

.sizeNone .iIpt { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.require { display: inline-block; padding-right: 3px; font-family: "宋体"; color: #f60f60; text-decoration: initial; vertical-align: middle; height: 16px; line-height: 12px\0; }

table.bor-no { margin-bottom: 10px; border: none; }

table.bor-no thead > tr > th, table.bor-no thead > tr > td, table.bor-no tbody > tr > th, table.bor-no tbody > tr > td { padding: 10px 4px; border: none; vertical-align: middle; }

table.bor-no tbody > tr > th { padding: 18px 4px 0; border: none; vertical-align: top; }

.link-btn-deft { display: inline-block; padding: 5px 5px; color: #007193; text-decoration: none; vertical-align: middle; }

.link-btn-deft:link { text-decoration: none; }

.link-btn-deft:visited { text-decoration: none; color: #007193; outline-style: none; }

.link-btn-deft:active { text-decoration: none; color: #007193; }

.link-btn-deft:hover { text-decoration: none; color: #007193; opacity: 0.8; filter: alpha(opacity=80); }

.link-btn-deft:focus { outline-style: none; -moz-outline-style: none; }

.link-bnt-state { display: inline-block; margin-right: 10px; padding: 16px 5px; vertical-align: middle; color: #ff6e0f; text-decoration: none; }

.link-bnt-state:hover { text-decoration: none; opacity: 0.8; filter: alpha(opacity=80); }

.iBtn { min-width: 180px; height: 40px; padding: 3px 15px; padding: 3px 7px\0; display: inline-block; margin-bottom: 0; font-size: 16px; font-weight: normal; line-height: 32px; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 2px; }

.iBtn.mb10 { margin-bottom: 10px; }

.iBtn_sm { min-width: 96px; height: 32px; padding: 2px 15px; padding: 2px 7px\0; font-size: 12px; line-height: 26px; }

.iBtn_no { color: #ffffff; background: #fd6e35; }

.iBtn_no:link { text-decoration: none; }

.iBtn_no:visited { text-decoration: none; color: #ffffff; outline-style: none; }

.iBtn_no:active { text-decoration: none; color: #ffffff; }

.iBtn_no:hover { text-decoration: none; color: #ffffff; opacity: 0.8; filter: alpha(opacity=80); }

.iBtn_no:focus { outline-style: none; -moz-outline-style: none; }

.iBtn_def { color: #ffffff; border: 1px solid #e4e4e4; background: #c7c7c7; }

.iBtn_def:hover { border: 1px solid #cccccc; color: #ffffff; opacity: 0.8; filter: alpha(opacity=80); }

.iBtn_yes { color: #ffffff; background: #1fb8ea; }

.iBtn_yes:hover { color: #ffffff; opacity: 0.8; filter: alpha(opacity=80); }

.btnVerifyCode { display: inline-block; width: 133px; height: 34px; line-height: 30px; font-size: 14px; color: #ffffff; text-align: center; vertical-align: middle; white-space: nowrap; border: 1px solid transparent; border-radius: 0; }

.btnVerifyCode:hover { opacity: 0.8; filter: alpha(opacity=80); }

.btnVerifyCode.valid { background: #8c8c8c; }

.btnVerifyCode.expire { cursor: not-allowed; }

.btnVerifyCode.expire:hover { opacity: 1; filter: alpha(opacity=100); }

.iIpt { display: inline-block; height: 40px; padding: 0 6px; padding: 0 3px\0; font-size: 16px; line-height: 36; vertical-align: middle; color: #333; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 2px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.iIpt:hover { border: 1px solid #01b7ec; }

.iIpt_bm { height: 34px; height: 34px\0; padding: 2px 4px; padding: 2px 2px\0; font-size: 14px; line-height: 34px; line-height: 32px\0; vertical-align: middle; }

.iIpt_sm { height: 30px; height: 30px\0; padding: 2px 4px; padding: 2px 2px\0; font-size: 14px; line-height: 30px; line-height: 28px\0; vertical-align: middle; }

.form-inline .inp-min, .inp-min { width: 80px; }

.form-inline .inp-min, .inp-small { width: 120px; }

.form-inline .inp-normal, .inp-normal { width: 180px; }

.form-inline .inp-large, .inp-large { width: 220px; }

.form-inline .inp-max, .inp-max { width: 314px; }

.modal-dialog { margin: 0 auto; }

.modal-dialog .modal-content { border-radius: 2px; border-top: 2px solid #00b6ec; }

.modal-dialog .modal-body { position: relative; }

.modal-header { height: 50px; padding: 10px 12px; }

.modal-header .close { display: inline-block; width: 22px; height: 22px; margin: 3px 0 0 0; opacity: 0.8; filter: alpha(opacity=80); background: url("/images/common/apply_ico.png") no-repeat -6px -2px; }

.modal-header .close:hover { background: url("/images/common/apply_ico.png") no-repeat -54px -2px; }

.modal-title { color: #333333; font-size: 20px; font-family: "微软雅黑"; line-height: 30px; }

.modal-sm { width: 400px; }

.modal-ss { width: 500px; }

.modal-pl { width: 800px; }

.modal-lg { width: 940px; }

#main { padding-bottom: 30px; }

.containerWrap { margin: 0; padding: 0 20px 20px; background: #ffffff; }

.containerWrap .plate-wrap { width: auto; }

.containerWrap .plate-wrap .plate-wrap-head { position: relative; z-index: 3; height: 36px; line-height: 36px; }

.containerWrap .plate-wrap .plate-wrap-head .prefix { float: left; display: inline; width: 3px; height: 20px; margin-top: 7px; margin-right: 10px; background: #00b6ef; }

.containerWrap .plate-wrap .plate-wrap-head .headLeft { margin: 0; font: lighter 18px/36px "\5FAE\8F6F\96C5\9ED1"; }

.containerWrap .plate-wrap .plate-wrap-head .headLeft_hint { display: inline-block; font-size: 12px; color: #ff6e27; }

.containerWrap .plate-wrap .plate-wrap-head .headContent { width: 40%; display: block; margin: 0 auto; text-align: center; font: lighter 18px/36px "\5FAE\8F6F\96C5\9ED1"; }

.containerWrap .plate-wrap .plate-wrap-head .headRight { width: 100px; float: right; display: inline; text-align: right; font-size: 12px; line-height: 36px; font-family: "宋体"; }

.containerWrap .plate-wrap .plate-wrap-head .subTitle_hint { display: inline-block; height: 28px; color: #333333; font-size: 12px; font-family: "宋体"; line-height: 18px; }

.containerWrap .plate-wrap .plate-wrap-head.bor-btm-solid { border-bottom: 1px solid #e8e8e8; }

.containerWrap .plate-wrap .plate-wrap-main { position: relative; z-index: 4; border: none; }

.containerWrap .plate-wrap .plate-wrap-main.bor-solid { border: 1px solid #e8e8e8; }

.table-query-list { width: 100%; border: none; font-size: 14px; }

.table-query-list > thead > tr > th { height: 34px; border-width: 1px 0 0; border-top: 1px solid #00b7ec; background: #f5f5f5; color: #666666; text-align: center; }

.table-query-list > tbody > tr > td { height: 100px; padding: 10px; border-width: 0 0 1px; border-bottom: 1px dotted #999999; word-break: break-all; word-wrap: break-word; box-sizing: border-box; text-align: center; color: #333333; }

.table-query-list > tbody > tr:hover td { background: #effafd; }

.table-query-details { width: 100%; border: none; font-size: 14px; }

.table-query-details > tbody > tr > th { height: 50px; padding: 0 10px; border: 1px solid #e4e4e4; font-weight: lighter; background: #f5f5f5; font-size: 12px; color: #999999; text-align: right; }

.table-query-details > tbody > tr > td { height: 50px; padding: 0 10px; border: 1px solid #e4e4e4; word-break: break-all; word-wrap: break-word; box-sizing: border-box; font-size: 14px; text-align: left; color: #333333; }

.errInfo { display: none; height: 18px; padding-top: 6px; font-size: 12px; color: #f37852; }

.state-pop { display: none; height: 50px; padding-right: 20px; position: absolute; z-index: 12; left: 136px; top: 500px; border: 1px solid #fccfaa; border-radius: 3px; background: #fff3d8 url("/images/common/lamp.png") no-repeat 20px center; color: #ff6e0f; }

.state-pop .arrow-up { content: ""; display: block; width: 0; height: 0; position: absolute; z-index: 21; top: -7px; left: 14px; border-style: solid; border-width: 0 8px 7px; border-color: transparent transparent #fccfaa; transition: all .4s ease 0s; }

.state-pop .arrow-up .arrow-up-in { content: ""; display: block; width: 0; height: 0; position: absolute; top: 2px; left: -8px; z-index: 24; border-style: solid; border-width: 0 8px 7px; border-color: transparent transparent #fff3d8; transition: all .4s ease 0s; }

.state-pop .state-info { display: inline-block; padding-top: 15px; font-size: 12px; line-height: 20px; padding-left: 38px; vertical-align: middle; }
