.progress-customer{
  ul.step{
    overflow:hidden;
    font-size:0;
    text-align:center;
    li{
      display:inline-block;
      margin-right:-4px;
      padding:0 60px;
      background:url('/images/components/progress.png') repeat-x left 10px;
      vertical-align:top;
      text-align:center;
      font-size:12px;
      &.active{
        background:url('/images/components/progress.png') repeat-x left -70px;
        span{
          background:url('/images/components/progress.png') no-repeat -96px -164px;
        }
      }
      &.first{
        padding-left:0;
      }
      &.last{
        padding-right:0;
      }
      span{
        display:inline-block;
        width:24px;
        height:24px;
        margin-bottom:4px;
        background:url('/images/components/progress.png') no-repeat 0px -164px;
        color:$white;
        font-family:"Arial";
        line-height:24px;
        text-align:center;
        &.active{
          background:url('/images/components/progress.png') no-repeat -96px -164px;
        }
      }
    }
  }
  ul.step-3{
    li{
      padding:0 100px;
    }
  }
  ul.step-4{
    li{
      padding:0 80px;
    }
  }
  ul.num{
    overflow:hidden;
    margin-top:4px;
    text-align:center;
    font-size:0;
    li{
      display:inline-block;
      width:221px;
      color:$gray3;
      vertical-align:top;
      font-size:12px;
      text-align:center;
      &.first{
        padding-left:0;
      }
      &.last{
        padding-right:0;
      }
      dt{
        padding-top:2px;
        color:$gray4;
        font-weight:normal;
      }
      dd{
        padding-top:4px;
      }
    }
  }
  ul.num-4{
    li{
      width:180px;
    }
  }
  ul.num-5{
    li{
      width:140px;
    }
  }
}