<script type="text/javascript" src="//s1.cximg.com/jssdk/1.0.0/lb.min.js?v4.0"></script>
<script id="analyticsScript" src="//data.chexiang.com/js/cx_analytics.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    // 字体控制
    function setFontsize() {
        document.querySelector('html').style.fontSize = (window.screen.width / 375 * 10 + 'px');
    }
    setFontsize();
    window.onresize = function() {
        setFontsize();
    }
    window._caProtocol = (("http:" == document.location.protocol) ? " http://" : " https://");
    document.write(decodeURIComponent("%3Cscript src='" + _caProtocol + "data.chexiang.com/js/ca.min.js?t=" + new Date().getTime() + "&type=' type='text/javascript'%3E" + "%3C/script%3E"));
</script>
<script type="text/javascript" src="../../static/plugins/zepto.js"></script>
<script type="text/javascript" src="../../static/plugins/url.js"></script>
<script type="text/javascript" src="../../static/plugins/sm/sm.js"></script>
<script type="text/javascript" src="../../static/scripts/common.js"></script>
<script type="text/javascript" src="../../static/scripts/@@gulpHdName/index.js"></script>