<div class="backtop" v-if="showBackTopFlag" @click="backTop"></div>
<div class="share" v-if="showShareFlag" @click="share"></div>
<div class="download" v-if="showDownloadFlag">
    <div class="close" ca="车享家体验馆_车享家体验馆$关闭"></div>
    <div class="content">
        <div class="text1">下载车享家APP</div>
        <div class="text2">领取<em>258元</em>养车礼包</div>
    </div>
    <a class="btn" href="//cxb.chexiang.com/service/version/getLatestAppVersion/0?channel=cxjtyg" ca="车享家体验馆_车享家体验馆$下载"></a>
</div>